@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,200;0,400;1,100&display=swap');


*{
    font-family: montserrat;
}
body{
    background: #f1fbff;
}
.section-padding{
    padding: 20px 0;
}
.carousel-item{
    height: 100vh;
    min-height: 300px;
}
.carousel-caption{
    bottom: 220px;
    z-index: 2;
}
.carousel-caption h5{
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
    color: ;

}
.carousel-caption p{
    width: 60%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
}
.laptop-img{
    width: 50%;
}
.nav-link{
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    color: #000;
    margin-right: 6px;
}
.nav-link.active:hover{
    color: #eb5a5a;
    
}
.nav-link:hover{
    color: #eb5a5a;
    
}



/* features */

section{
    height: 100vh;
    background-color: #fefefe;
    /* background-image: linear-gradient(180deg, #fefefe -35%, #00a4e4 75%); */

}
.section-title{
    text-align: center;
    padding: 60px;
    font-family: 'poppins', sans-serif;
    font-weight: bolder;
    color: #2e2e2e;
}

.features{
    background-color: #fff;
    margin-bottom: 30px;
    margin-right: 100px;
    padding: 0 20px 20px 0;
    box-shadow: 0px 0px 30px 0px rgba(15, 90, 125, 0.15);
    border-radius: 30px;
    overflow: hidden;
    width: 100%;
}
.features:hover .feature-icon{
    transform: rotate(0deg);
}
.feature-icon{
    position: relative;
    width: 100px;
    height: 100px;
    background-color: aqua;
    transform: rotate(17deg);
    left: -2px;
    top: -23px;
    border-radius: 10px;
    margin-bottom: 20px;
    transition: all 0.3s ease-in-out;
}
.feature-icon.microchip{
    background-color: #fd79a8;


}
.feature-icon.dragon{
    background-color: #6cd1f9;

}
.feature-icon.game{
    background-color: #8bf17d ;

}
.feature-icon.display{
    background-color: #eb5a5a;

}
.fas:before{
    color: #fff;
    font-size: 40px;
    line-height: 3;
    margin-left: 35px;

}
.feature-content{
    width: 100%;
    margin-left: 20px;
}
.feature-title{
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 10px;
    font-weight: 600;
    color: #000;
}
.feature-laptop img{
    display: block;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;

}
@keyframes floating{
    from{transform: translate(0, 0px);}
    65%{transform: translate(0,15px);}
    to{transform: translate(0, -0px)     ;}
}
.left, .right{
    margin-left: 100px;
    margin-right: 0;
}

.about-img img{
    width: 100%;
    height: 100%;
    border-radius: 55px;
    margin: auto;
}
span{
    color: #eb5a5a ;
 }
@media only screen and (max-width: 991px){
    .about-img img{
        width: 50%;
        height: 50%;
        border-radius: 55px;
        margin: auto;
    }
    .about-img{
        display: flex;
        
    }


}



/* pricing table */

.price-table{
    text-align: center;
    overflow: hidden;
   
    margin: 20px;
    background: #fff;
    box-sizing: border-box;
    box-shadow: inset 0 0 40px rgba(0, 0, 0, 0.2),
    0 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}
.col-sm-4:nth-child(2) .price-table{
    transform: scale(1.1);
}
.price-table .price-head{
    padding: 50px;
    background: linear-gradient(45deg, #3ffbdf, #5121f3);
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;

}
.price-table .price-head h4{
    text-decoration: uppercase;
    margin: 0;
    padding: 0;
    color: #fff;
    font-weight: 700;
}
.price-table .price-head h2{
    margin: 0;
    padding: 20px 0 0;
    font-size: 36px;
    color: #fff;

}
.price-content{
    position: relative;
}
.price-content ul{
    position: relative;
    margin: 0;
    padding: 20px 0;
    
}
.price-content ul li{
    list-style: none;
    font-size: 16px;
    text-transform: uppercase;
    padding: 16px 0;
    color: #777;
    cursor: pointer;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    transition: .5s;

}

.price-content ul li:hover{
    border-left: 15px solid #00dff2;
    border-right: 15px solid #00dff2;
}
.price-button{
    padding: 0 0 30px;
}
.price-button a{
    padding: 10px 40px;
    background: linear-gradient();
    color: #00;
    border-radius: 25px;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
}
@media only screen and (max-width: 1250px){
    .pricing{
        margin-top: 10%;
        
    }
}
@media only screen and (max-width: 990px){
    .pricing{
        margin-top: 30%;
        
    }
    #features{
        margin-top: 20%;
    }
   
}
@media only screen and (max-width: 770px){
    .pricing{
        margin-top: 100%;
    }
    .price-table ul li{
        font-size: 10px;
        padding: 5px 0;

    }
    .price-table{
        width: 100%;
        height: 100%;
        margin: 0;
        display: inline-block;
    }
    .price-table .price-head h2 {
        margin: 0px;
        padding: 0px 0 0;
        font-size: 26px;
        color: #fff;
    }
    .pricing-se{
        margin-top: 100%;
    }
    .box{
        display: flex;

    }
    .features {
        background-color: #fff;
        margin-bottom: 1px;
        margin-right: 94px;
        padding: 0px 15px -2px 0;
        box-shadow: 0px 0px 30px 0px rgba(15, 90, 125, 0.15);
        border-radius: 27px;
        overflow: hidden;
        width: 80%;
        height: 85%;
    }
    .feature-title{
        line-height: 0;
        
    }
    .feature-box{
        font-size: 14px;

    }
    .feature-para{
        width: 50%;
    }
    
     .feature-laptop img{
            width: 50%;
        }

        .
    
}
@media only screen and (max-width: 575px){
    .section-title{
        padding: 15px;
    }

}

.form-left-side{
    background-color: #8bf17d;


}
.fomr-right-side{
    background-color: #fff;

}
.icon{
    padding: 15px;
    border: 1px solid #fff;
    border-radius: 50%;
    margin-right: 10px;

}
.contact-section{
    margin-top: 10%;
}
/*  */
@media only screen and (max-width: 1200px){
    .contact-section{
        margin-top: 20%;
    }

}
@media only screen and (max-width: 575px){
    .contact-section{
        margin-top: 100%;
    }

}
    
    

